@import './resets';
@import './variables';



//map
$font-weights:(
    "regular":400,
    "medium":500,
    "bold":700
);

body {
    background:  $primary-color;
    color: $text-color;
}

//nesting
.main{
    width: 80%;
    margin: 0 auto;
    
    p {
        font-weight: map-get($map: $font-weights, $key: bold);
        &:hover{
           color: pink; 
        }
    }
}

